@import './global.css';
@import './current-weather.css';
@import './weekly-weather.css';
@import './tabs.css';
@import './day-weather.css';
@import './loading.css';

.app {
  block-size: 100vh;
  background-image: url('../images/morning-clean.jpg');
  background-size: cover;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.app[hidden] {
  display: none;
}